<div id="grappos-widget" style="width: 695px; height: 345px;"></div>
<script src="http://www.grappos.com/_app/widget/1.0/load.js"></script>
<script>
    var grapposConfig       = {};
    grapposConfig.uid       = 'HH-753092847';
    grapposConfig.type      = 'widget';		// layout type (currently the only type)
    grapposConfig.scope     = 'filtered';	// limit results to a set of products (brand) [filtered or all]
    grapposConfig.prodAC    = 'auto';		// force (filtered) products list to use auto-complete [auto or force]
    grapposConfig.bkgdClr   = '#f4f4f4';	// background color
    grapposConfig.txtClr    = '#9f9f9f';	// text (and accent) color
    grapposConfig.autoHover = '#f7b1b1';	// the "hover" color for the auto-complete results
    grapposConfig.resHover  = '#e6e6e6';	// the "hover" color for the search results
    grapposConfig.recent    = 'true';		// whether to show recent searches
    grapposConfig.labels    = 'true';		// whether to show labels (when available)
    grapposConfig.spinner   = 'white';	// spinner / busy indicator [white or black]
    grapposConfig.mid       = 'gP-347386596';	// mobile service id / enables mobile locator service (leave out to disable)
    grapposConfig.tablet    = 'true';		// whether to include tablets in definition of mobile used by mobile locator service
</script>
